@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Prompt', sans-serif;
    padding-top: 100px;
}
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}
header {
    background: linear-gradient(to right, rgb(255, 201, 157), rgb(255, 167, 90));
    padding: 20px 0;
    position: fixed; /* Torna o header fixo */
    top: 0; /* Fixa no topo da página */
    width: 100%; /* Garante que o header ocupe toda a largura da tela */
    z-index: 1000; /* Certifique-se de que o header fique acima de outros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para destacar o header */
}

.dropdown-toggle {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.menu-toggle {
    display: none;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 50%;
    right: -20%;
}

nav li {
    display: inline-block; /* Alterado de inline para inline-block */
    margin-left: 15px;
    position: relative; /* Necessário para o submenu */
}

nav .links-header {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
}

nav .links-header:hover, nav .dropdown-toggle:hover {
    color: rgb(255, 138, 42);
    transition: 0.5s;
}

/* Estilo para o link e botão dentro do item de lista "Produtos" */
.dropdown:hover .links-header,
.dropdown:hover .dropdown-toggle {
    color: rgb(255, 138, 42);
    transition: 0.5s;
}

.vertical-line{
    display: none;
}

/* Estilo para o submenu */
nav .dropdown-content {
    visibility: hidden; /* Inicialmente invisível */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Posiciona o submenu abaixo do item pai */
    left: 0;
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(-10px); /* Inicialmente deslocado para cima */
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s; /* Animação de opacidade, transformação e visibilidade */
}

nav .dropdown-content li {
    display: block;
}

nav .dropdown-content li a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

nav .dropdown-content li a:hover {
    background-color: #f1f1f1;
}

/* Mostrar o submenu ao passar o mouse */
nav li:hover .dropdown-content {
    visibility: visible; /* Torna visível */
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Move para a posição original */
}

/* Mostrar o submenu ao clicar */
nav li:focus-within .dropdown-content {
    visibility: visible; /* Torna visível */
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Move para a posição original */
}

.slider {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.sliders {
    width: 400%;
    height: 100%; /* Ajusta a altura para 100% do contêiner pai */
    display: flex;
}

.sliders input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 1.5s;
    height: 100%; /* Ajusta a altura para 100% do contêiner pai */
}

.slide img {
    width: 100%; /* Faz a imagem ocupar toda a largura do contêiner */
    height: 100%; /* Faz a imagem ocupar toda a altura do contêiner */
    object-fit: cover; /* Garante que a imagem não seja cortada */
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    z-index: 1;
    text-align: center; /* Centraliza o texto */
}

.text-overlay .title {
    font-size: 35px;
    font-weight: bold;
    background-color: rgba(255, 140, 0, 0.5);
    border-radius: 5px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.767); /* Sombra para o título */
    margin: 0; /* Remove a margem padrão */
    display: inline-block; /* Ajusta a largura ao tamanho do texto */
    padding: 5px 10px; /* Adiciona preenchimento para melhorar a aparência */
}

.text-overlay .subtitle {
    font-size: 23px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(255, 153, 0, 0.371); /* Sombra para o subtítulo */
    margin: 5px 0 0 0; /* Adiciona margem superior */
    padding: 10px;
}

.manual-btn {
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-navigation,
.navigation-auto {
    position: absolute;
    bottom: 10px;
    /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.manual-navigation {
    z-index: 2;
    /* Define a ordem de empilhamento */
}

.navigation-auto {
    z-index: 1;
    /* Define a ordem de empilhamento */
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}

.conteudo-principal {
    background: linear-gradient(to right, #ff9c50, #ffd6ae); /* Gradiente de fundo */
    display: flex; /* Layout flexível para alinhar texto e imagem */
    padding: 20px; /* Espaçamento interno */
}

.texto-principal {
    display: flex;
    flex-direction: column; /* Empilhar título, subtítulo e botão */
    justify-content: center; /* Centralizar verticalmente */
    flex: 1; /* Ocupa o espaço disponível */
}

.destaque {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.subtitulo-principal{
    font-size: 20px;
    margin-top: 10px;
}
.titulo-principal{
    font-size: 30px;
}
.titulo-principal, .subtitulo-principal {
    text-align: left; /* Alinhar texto à esquerda */
}

.botao-saiba-mais {
    margin-top: 20px; /* Espaçamento acima do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    background-color: #ffffff; /* Cor de fundo do botão */
    color: rgb(0, 0, 0); /* Cor do texto do botão */
    border: none; /* Remover borda padrão */
    border-radius: 5px; /* Bordas arredondadas do botão */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
    width: 20%;
}

.botao-saiba-mais:hover {
    background-color: #d7d7d7; /* Cor de fundo do botão ao passar o mouse */
}

.imagem-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px; /* Reduzir o tamanho da imagem */
    margin-left: 20px; /* Espaçamento à esquerda da imagem */
}
.imagem-principal img {
    border: 5px solid transparent; /* Borda transparente para aplicar gradiente */
    border-radius: 10px; /* Bordas arredondadas */
    background: linear-gradient(white, white), /* Fundo branco */
                linear-gradient(to right, #ff9747, #ffcc00); /* Gradiente da borda */
    background-origin: border-box; /* Origem do fundo na borda */
    background-clip: content-box, border-box; /* Clipping do fundo */
    max-width: 100%; /* Garantir que a imagem não ultrapasse o contêiner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), /* Sombra suave */
                0 6px 20px rgba(0, 0, 0, 0.19); /* Sombra mais intensa */
}


.servicos {
    text-align: center;
}
.servicos h2 {
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}
.imagem-servico img {
    width: 50px; /* Tamanho pequeno */
    display: block;
    margin: 0 auto; /* Centralizar a imagem */
}

.servicos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.servico {
    background-color: rgb(49, 49, 49);
    border: 2px solid orange;
    border-radius: 10px;
    color: white;
    width: 330px;
    height: 380px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.servico img {
    width: 280px; /* Ajuste o tamanho da imagem dentro do serviço */
    height: auto;
    border-radius: 10px; /* Bordas arredondadas */
    border: #ff9c5095 2px solid;
}

.servico h3 {
    margin-top: 10px;
}

.servico p {
    font-size: 14px;
    margin: 12px;
    text-align: justify;
}

.marcas-usadas {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #fdad70, #ffd6ae);
        /* Gradiente de fundo */
    margin-top: 60px;
}

.titulo-marca {
    font-size: 36px; /* Tamanho de título */
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}

.subtitulo-marca {
    font-size: 18px;
    color: #4e4e4e;
    margin-bottom: 20px;
}

.marcas-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre as marcas */
}

.marca img {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    display: block;
    margin: 0 auto;
}
.marcas-container .marca:nth-child(3) img {
    padding-top: 20px;
}
.descricao-marcas {
    margin-top: 20px;
    text-align: justify;
    font-size: 16px;
    color: #333;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.servico button {
    background-color: #ff9c50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.servico button:hover {
    background-color: #ffcc00;
}
.servico button:active {
    transform: translateY(2px);
}

footer {
    text-align: center;
    padding: 30px;
    background: url("/img/papier-digital-a-texture-de-bois-4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

footer .logo-fort-pisos {
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

.copyright {
    font-size: 18px;
    margin-top: 20px;
}

.redes-socias {
    position: relative;
}

.redes-socias i {
    margin: 20px 0 0 20px;
    font-size: 30px;
}

.fa-whatsapp {
    color: green;
}

.fa-whatsapp:hover {
    color: greenyellow;
    transform: translateY(-5px) scale(1.2);
    transition: 0.5s;
}

.fa-facebook {
    color: blue;
}

.fa-facebook:hover {
    color: cornflowerblue;
    transform: translateY(-5px) scale(1.2);
    transition: 0.5s;
}

.fa-instagram {
    color: deeppink;
}

.fa-instagram:hover {
    color: orangered;
    transform: translateY(-5px) scale(1.2);
    transition: 0.5s;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Certifique-se de que o ícone fique acima de outros elementos */
}

.whatsapp-icon img {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.whatsapp-icon img:hover {
    transform: scale(1.1); /* Aumenta o tamanho do ícone em 10% */
}

footer .credit {
    font-size: 12px;
    /* Tamanho pequeno para ser discreto */
    color: #777;
    /* Cor cinza para ser discreto */
    margin-top: 10px;
}

footer .credit a {
    color: #777;
    /* Cor cinza para ser discreto */
    text-decoration: none;
    display: block;
    margin-top: 5px;
}

footer .credit a:hover {
    color: #555;
    /* Cor um pouco mais escura ao passar o mouse */
}