@media screen and (max-width: 768px) {

    body {
        padding-top: 110px;
    }

    header {
        padding: 10px;
    }

    .vertical-line {
        display: inline-block;
        width: 1px;
        /* Largura da linha */
        height: 18px;
        /* Altura da linha */
        background-color: rgba(0, 0, 0, 0.411);
        /* Cor da linha */
        margin-left: 5px;
        margin-top: 5px;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    .menu-toggle:hover {
        color: rgb(255, 138, 42);
        transition: 0.5s;
    }

    #menu {
        display: none;
        position: static;
    }

    /* Defina a animação de fade-in */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    /* Classe para aplicar a animação */
    .fade-in {
        animation: fadeIn 0.5s ease-in-out;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        /* Itens em coluna */
        width: 100%;
    }

    nav ul li {
        text-align: center;
        margin: 10px 0;
    }

    .dropdown-content {
        display: none;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content.show {
        display: block;
        width: 150px;
        position: absolute;
        left: 38%;
        transform: translateX(-50%);
    }



    .slider {
        height: 300px;
    }

    .text-overlay {
        width: 60%;
    }

       .imagem-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
    }

    .text-overlay .title {
        font-size: 1.4em;
    }

    .text-overlay .subtitle {
        font-size: 0.9em;
    }

    .conteudo-principal {
        display: inline-block;
    }

    .subtitulo-principal {
        font-size: 1em;
    }

    .botao-saiba-mais {
        display: ruby-text;
        width: 200px;
        /* Defina a largura desejada */
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .titulo-marca {
        font-size: 1.8em;
    }

    .marca img {
        width: 105px;
    }

    .marcas-container .marca:nth-child(3) img {
        padding-bottom: 10px;
    }

    .marcas-container {
        display: ruby;
    }

    .caixa,
    footer {
        width: auto;
        text-align: center;
    }

    footer img {
        width: 100%;
    }
}

/* Estilos para tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #menu {
        display: block;
        width: 100%;
    }

    #menu ul li a {
        font-size: 1em;
        /* Ajuste o tamanho da fonte para dispositivos móveis */
    }

}

/* Estilos para MacBooks e telas maiores */
@media screen and (min-width: 1025px) {
    #menu {
        display: block;
        /* Exibe o menu em MacBooks e telas maiores */
    }
}